table {
  width: 100%;
  // background-color: red;
  border: none;
  margin: 0px;
  overflow-x: auto;
  background-color: rgb(226, 223, 223)
}

thead {
  background-color: blue;
  border: none;
  margin: 0px;
  text-align: center;
  color: white;
}

th,
td {
  border: none;
}

@media(max-width:767px) {

  table {
    width: 100%;
    // background-color: yellow;
    border: none;
  }

  thead {
    background-color: blue;
    border: none;
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 13px;
  }

  th,
  td {
    border: none;
    font-size: 13px;
  }


}