.form-presu {
  // background-color: red;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  padding: 10px;

  .form-presu__titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
    // background-color: red;

    .h2,
    .h5 {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 20px;
      // text-align: left;
      // font-size: 20px;
    }
  }


  &__inputs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    // background-color: wheat;

    // width: 100%;
    justify-content: space-around;

    .form-presu__gruop {
      display: flex;
      flex-direction: column;
      margin: 7px;
      align-items: flex-start;
      gap: 5px;

      .label {
        font-weight: 600;
      }

      .input {
        padding-top: 7px;
        padding-bottom: 7px;
        // border-radius: 5px;
        width: 300px;
        // background-color: red;
        border: none;
        border-bottom: solid 1.5px #0000ff81;

        &:focus {
          outline: none;
          border-bottom: solid 3px rgba(0, 0, 255, 0.507);
        }
      }
    }
  }

  .from-presu__buttons {

    // background-color: red;
         
    // .form-presu__pdf {
    //   background-color: #001AFF;
    //   padding: 10px;
    //   color: white;
    //   margin: 2rem;
    //   font-weight: 500;
    //   border: none;
    //   cursor: pointer;

    //   &:hover {
    //     background-color: #001affa1;
    //   }
    // }

    .form-presu__btn-item {
      background-color: #eeff00;
      padding: 10px;  
      color: black;
      margin: 1rem;
      font-weight: 500;
      border: 1px solid black;
      border-radius: 7px;
      cursor: pointer;

      &:hover {
        background-color: #fffb00a1;
      }
    }
      .form-presu__btn-confirm {
        background-color: rgba(0, 0, 255, 0.507);
        padding: 10px;  
        color: #eeff00;
        margin: 1rem;
        font-weight: 500;
        border: 1px solid black;
        border-radius: 7px;
        cursor: pointer;
  
        &:hover {
          background-color: rgba(0, 0, 255, 0.678);
        }
    }
     
  }
}



@media (max-width: 500px) {

  .form-presu__titles {
    width: 100%;
    // background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .h2 {
      text-align: left;
      margin-left: 0px !important;
      font-size: 20px;
    }

    .h5 {
      text-align: center;
      font-weight: 400;
      margin-left: 0px !important;
    }
  }

  .from-presu__buttons {
    display: flex;
    flex-direction: column;
  }

}