.header {
    background-color: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0px;
    height: 4.5rem;
    // padding-left: 2rem;
    // padding-right: 2rem;

    &__logo {
        height: 3rem;
        // background-color: red;
        // width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .header__img {
            height: 2.5rem;
            width: 13rem;
        }
    }
}


@media (max-width: 500px){
    .header{
        // background-color: red;
        &__logo {
            height: 3rem;
            // background-color: #FFD700;
            display: flex;
            justify-content: center;
            align-items: center;
            .header__img {
                height: 2.5rem;
                width: 13rem;
            }
        }
    }
}